dist/index.html linguist-vendored=false linguist-generated=false
dist/sw.js linguist-vendored=false linguist-generated=false
dist/manifest.webmanifest linguist-vendored=false linguist-generated=false
dist/assets/** linguist-vendored
docs/assets/** linguist-documentation
